<div>
    <hr>
    <footer>
        <section id="footer">
            <div class="container small">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 col-md-12 offset-md-0">
                        <div class="row">
                            <div class="col-8 offset-2 col-md-3 offset-md-0 col-lg-2 order-last order-md-first pad-md-right mt-auto mb-4">
                                <img class="footer-img img-fluid col-12 col-sm-9 col-md-12 mb-5 d-block"
                                    src="https://www.llamanetworks.com/extmedia/llama_couch_sketch_bw.webp"
                                    alt="llama on a couch"><span class="col-12 d-none d-md-block">© 2024 Llama Networks LLC. Llama Networks LLC is a Service-Disabled, Veteran-Owned Small Business.</span>
                            </div>
                            <div class="col-6 col-md-2 order-2 order-md-3">
                              
                                    <nav aria-labelledby="company" class="mb-2">
                                        <h2 id="company" class="footer-col-title">Company</h2>
                                        <ul class="footer-ul">
                                            <li class="footer-li-item"><a
                                                    href="https://www.llamanetworks.com/about/"
                                                    aria-label="Read more about Llama Networks, the company"
                                                    class="footer-link">
                                                    <div>About</div>
                                                </a></li>
                                            <li class="footer-li-item"><a
                                                    href="https://www.llamanetworks.com/contact-us/"
                                                    aria-label="Contact us at Llama" class="footer-link">
                                                    <div>Contact us</div>
                                                </a></li>
                                       
                                        </ul>
                                    </nav>
                            
                            
                                    <nav aria-labelledby="security-and-terms" class="mb-5">
                                        <h2 id="security-and-terms" class="footer-col-title">
                                            Legal</h2>
                                            
                                        <ul class="footer-ul">
                                            <li class="footer-li-item"><a href="https://www.llamanetworks.com/terms-of-use/"
                                                aria-label="Read more about Llama's terms'" class="footer-link">
                                                <div>Terms of Service</div>
                                            </a></li>
                                            <li class="footer-li-item"><a
                                                    href="https://www.llamanetworks.com/privacy-policy/"
                                                    aria-label="Read more about Llama's privacy policy"
                                                    class="footer-link">
                                                    <div>Privacy policy</div>
                                                </a></li>
                                                      <li class="footer-li-item"><a
                                                    href="https://www.llamanetworks.com/cookie-policy/"
                                                    aria-label="Read more about Llama's cookie notice"
                                                    class="footer-link">
                                                    <div>Cookie Notice</div>
                                                </a></li>
                                         
                                        </ul>
                                    </nav>
                               
                            </div>

 
                            </div>
                            <div class="col-12 d-block d-md-none text-center order-last"><span class="col-12 small">© 2024
                                    Llama Networks LLC</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>