<div>
    <section id="footer">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <img class="footer-img img-fluid col-12 col-sm-9 col-md-12 mb-5 d-block" src="https://www.llamanetworks.com/extmedia/llama_couch_sketch.webp" alt="llama on an orange couch with a laptop">
                    </a>
                    <p class="text-body-secondary">© 2024 Llama Networks LLC</p>
                </div>
                <div class="col mb-3">
                </div>
                <div class="col mb-3">
                    <h5>Company</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/switchboard/" class="nav-link p-0 text-body-secondary">Mobility Strategy</a></li>
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/technology/" class="nav-link p-0 text-body-secondary">Technology</a></li>
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/about" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Support</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://support.llamanetworks.com/hc/en-us/" class="nav-link p-0 text-body-secondary">Support Home</a></li>
                        <li class="nav-item mb-2"><a href="https://support.llamanetworks.com/hc/en-us/requests/new" class="nav-link p-0 text-body-secondary">Submit Ticket</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Legal</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/terms-of-use" class="nav-link p-0 text-body-secondary">Terms of Use</a></li>
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/cookie-policy" class="nav-link p-0 text-body-secondary">Cookie Policy</a></li>
                        <li class="nav-item mb-2"><a href="https://www.llamanetworks.com/privacy-policy" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
</div>